body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

#app {
    height: 100%;
}

/* Toggle Styles */

#wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}

#sidebar-wrapper {
    position: fixed;
    left: 0px;
    top:0px;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    background: #000;
}




.page-content-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
    z-index: 1001;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


@media all and (max-width: 1049px) {
    .page-content-wrapper.toggled {
        width: 100%;
        right: -250px;
    }
    .hide-under-1050 {
        display: none;
    }
}

@media all and (min-width: 1050px) {
    .page-content-wrapper-over-1050 {
        width: calc(100% - 250px);
    }
    .hide-over-1050 {
        display: none;
    }
    .over-1050-mw {
        max-width: 1050px;
    }
}




/*@media all and (max-width: 999px) {*/
    /*.page-container{*/
        /*max-width:750px;*/
    /*}*/
/*}*/
/*@media all and (max-width: 749px) {*/
    /*.page-container{*/
        /*max-width:500px;*/
    /*}*/
/*}*/
/*@media all and (max-width: 499px) {*/
    /*.page-container{*/
        /*max-width:250px;*/
    /*}*/
/*}*/