


#top-bar-title {
    text-align: center;
    font-weight: bold;
    background: #f5f5f5;
}

.glyp-menu {
    text-align: center;
    width: 50px;
    font-size: 15px;
    padding: 10px;
    background: #f5f5f5;
    border-right: 1px solid #f1f1f1;
}