.cardnav-container{
    position:relative;
    max-width:1000px;
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

.box{
    display: table;
    position:relative;
    box-sizing: border-box;
    margin-left:15px;
    margin-right:15px;
    margin-top:25px;
    width:220px;
    height:220px;
    float:left;
    cursor: pointer;
}
.box:last-child {
    margin-bottom:25px;
}

.box .content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 220px;
    height: 220px;
    background: #f5f5f5;
}




.glyp-cardnav-item {
    font-size:95px;
}
.cardnav-item-title {
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}









/*@media all and (max-width: 1049px) {*/
    /*.cardnav-container {*/
        /*max-width:1000px;*/
    /*}*/
/*}*/
@media all and (max-width: 999px) {
    .cardnav-container {
        max-width:750px;
    }
}
@media all and (max-width: 749px) {
    .cardnav-container{
        max-width:500px;
    }
}
@media all and (max-width: 499px) {
    .cardnav-container {
        max-width:250px;
    }
}