
/* Sidebar dropdown Styles */
.sidebar-nav-dropdown {
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height 500ms ease;
    -moz-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}
.sidebar-nav-dropdown.toggled {
    max-height: 150px;
}

.sidebar-nav-dropdown > li > a {
    z-index: 1000;
    position: relative;
}


/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav > li > a {
    z-index: 1001;
    background: black;
    position: relative;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #100e0e;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-open > div > a:hover {
    background: #161616 !important;
}
.sidebar-open > div > a {
    background: #050505 !important;
}

.sidebar-active a, .sidebar-active a:hover {
    background: #255885 !important;
}
.sidebar-active a {
    color: white !important;
}

/*.sidebar-item > div > a {*/
    /*border-right: 5px solid #050505;*/
/*}*/
.sidebar-item-dropdown {
    float: right;
    font-size: 7px;
}