.gray-btn{
    background-color:#eee;
    border:none;
    color:gray;
    font-weight:bold;
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:3px;
}
.blue-btn{
    background-color:#506584;
    border:none;
    color:white;
    font-weight:bold;
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:3px;
}
.big-btn {
    font-size: 14px;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
}




.unslct{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.prel{  position: relative;  }
.pabs{  position: absolute;  }

.t{  display: table;  }
.tr{  display: table-row;  }
.tc{  display: table-cell;  }
.tcvm{  display: table-cell;  vertical-align: middle;  }
.tcvt{  display: table-cell;  vertical-align: top;  }
.tcvb{  display: table-cell;  vertical-align: bottom;  }

.fbold{  font-weight: bold;  }
.fnormal{  font-weight: normal;  }

.f8px{  font-size: 8px;  }
.f9px{  font-size: 9px;  }
.f10px{  font-size: 10px;  }
.f11px{  font-size: 11px;  }
.f12px{  font-size: 12px;  }
.f13px{  font-size: 13px;  }
.f14px{  font-size: 14px;  }
.f15px{  font-size: 15px;  }
.f16px{  font-size: 16px;  }
.f17px{  font-size: 17px;  }
.f18px{  font-size: 18px;  }
.f19px{  font-size: 19px;  }
.f20px{  font-size: 20px;  }

.w100{  width: 100%;  }
.w50{  width: 50%;  }
.mw100{  min-width: 100%;  }
.h100{  height: 100%;  }
.mh100{  min-height: 100%;  }

.txtl{  text-align: left;  }
.txtr{  text-align: right;  }

.mla{  margin-left: auto;  }
.mra{  margin-right: auto;  }

.m0{  margin: 0px;  }
.m5{  margin: 5px;  }
.m10{  margin: 10px;  }
.m15{  margin: 15px;  }
.m20{  margin: 20px;  }

.ml0{  margin-left: 0px;  }
.ml5{  margin-left: 5px;  }
.ml10{  margin-left: 10px;  }
.ml15{  margin-left: 15px;  }
.ml20{  margin-left: 20px;  }

.mr0{  margin-right: 0px;  }
.mr5{  margin-right: 5px;  }
.mr10{  margin-right: 10px;  }
.mr15{  margin-right: 15px;  }
.mr20{  margin-right: 20px;  }

.mt0{  margin-top: 0px;  }
.mt5{  margin-top: 5px;  }
.mt10{  margin-top: 10px;  }
.mt15{  margin-top: 15px;  }
.mt20{  margin-top: 20px;  }

.mb0{  margin-bottom: 0px;  }
.mb5{  margin-bottom: 5px;  }
.mb10{  margin-bottom: 10px;  }
.mb15{  margin-bottom: 15px;  }
.mb20{  margin-bottom: 20px;  }

.p0{  padding: 0px;  }
.p5{  padding: 5px;  }
.p10{  padding: 10px;  }
.p15{  padding: 15px;  }
.p20{  padding: 20px;  }

.pl0{  padding-left: 0px;  }
.pl5{  padding-left: 5px;  }
.pl10{  padding-left: 10px;  }
.pl15{  padding-left: 15px;  }
.pl20{  padding-left: 20px;  }

.pr0{  padding-right: 0px;  }
.pr5{  padding-right: 5px;  }
.pr10{  padding-right: 10px;  }
.pr15{  padding-right: 15px;  }
.pr20{  padding-right: 20px;  }

.pt0{  padding-top: 0px;  }
.pt5{  padding-top: 5px;  }
.pt10{  padding-top: 10px;  }
.pt15{  padding-top: 15px;  }
.pt20{  padding-top: 20px;  }

.pb0{  padding-bottom: 0px;  }
.pb5{  padding-bottom: 5px;  }
.pb10{  padding-bottom: 10px;  }
.pb15{  padding-bottom: 15px;  }
.pb20{  padding-bottom: 20px;  }

.s5{  height:5px;  width: 100%;  position: relative;  display: block;  }
.s10{  height:10px;  width: 100%;  position: relative;  display: block;  }
.s15{  height:15px;  width: 100%;  position: relative;  display: block;  }
.s20{  height:20px;  width: 100%;  position: relative;  display: block;  }

.cp{  cursor: pointer;  }
